.well.well-lg
  %h1 All Users

  .list-group
    - @users.each do |letter, users_array|
      %strong= letter
      - users_array.each do |user|
        .list-group-item
          = link_to user.name, user_path(user), class: 'list-group-item-text'
          - if admin? && !current_user?(user)
            = link_to 'Edit', edit_user_path(user), class: 'label label-default'
            = link_to 'Delete', user, method: :delete,
                                      data: { confirm: 'Are you sure?' },
                                      class: 'label label-danger'
