.well.well-lg
  %h1 All Words

  .list-group
    - @words.each do |letter, words_array|
      %strong= letter
      - words_array.each do |word|
        = link_to word.title, word_path(word), class: "list-group-item"