.well.well-lg
  - if @tag 
    %h1 All Words with #{@tag}
  - else
    %h1 All Words

  .tag_cloud
    - tag_cloud Word.tag_counts.sort { |x, y| x.name <=> y.name }, %[s m l] do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: css_class


  .list-group
    - @words.each do |letter, words_array|
      %strong= letter
      - words_array.each do |word|
        = link_to word.title, word_path(word), class: 'list-group-item'